{% extends 'master.html' %}

{% block content %}

 <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
         {% if messages %}
            {% for message in messages %}
              <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
            {% endfor %}
          {% endif %}
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Products</h1>
          </div>

          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Replacements</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
<!-- Button trigger modal -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">


            <div class="card">
              <div class="card-header">
                <h3 class="card-title">All replacements</h3>
              </div>

              <!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>Id</th>
                    <th>Original</th>
                    <th>Our SKU</th>
                    <th>Options</th>

                  </tr>
                  </thead>
                  <tbody>
                  {% for item in items %}
                  <tr id="l-{{item.pk}}">
                    <td>{{forloop.counter}}</td>
                    <td class="d-sku">{{item.what}}</td>
                    <td>{{item.forwhat}}</td>
                    <td>
                       <form action="/profile/attributes/replacement/delete/" method="post">
                        <input type="hidden" name="pk" value="{{item.pk}}">
                         {% csrf_token %}
                         <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure?');">Delete</button>
                       </form>

                      <!--
                      <a href="/profile/product/edit/{{item.pk}}/" >
                        <button style="margin-left:15px;" class="btn btn-default">Edit</button>
                      </a>
                      -->
                        <!--
                      <button
                              data-what="{{item.msrp|floatformat}}"
                              data-forwhat="{{item.map|floatformat}}"
                              data-pk="{{item.pk}}"
                              data-row="l-{{item.pk}}"
                              type="button" class="btn btn-primary loadModalForm" data-toggle="modal" data-target="#editModal">
                        Edit
                      </button>
                      -->
                    </td>
                  </tr>
                {% endfor %}
                  </tfoot>
                </table>
                 <form action="/profile/attributes/replacement/delete/" method="post">
                    <input type="hidden" name="pk">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure?');">Remove all replacements</button>
                  </form>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->

<!-- Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">Edit replacemnet</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/profile/replacement/edit-ajax/" id="saveForm" method="post">

          {% csrf_token %}
          <input type="hidden" value="" name="id_val" id="id_val">

          <div class="form-group">
            <label for="">Original</label>
            <input id="what_val" type="text" name="sku_val" class="form-control" >
          </div>

          <div class="form-group">
             <label for="">Our SKU</label>
            <input id="forwhat_val"  name="price_val"  type="text" class="form-control" >
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button id="saveModalBtn" type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


  </div>






{% endblock %}