 <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->


          <li class="nav-item">
            <a href="/profile/brands/" class="nav-link {% if 'brands' in request.path or 'brand' in request.path or 'rule' in request.path %} active {%endif%}">
              <i class="nav-icon far fa-circle text-info {% if 'brands' in request.path or 'brand' in request.path or 'rule' in request.path %} fa-circle-notch {%endif%}"></i>
              <p>Brands</p>
            </a>
          </li>



          <li class="nav-item">
            <a href="/profile/products/" class="nav-link {% if 'products' in request.path %} active {%endif%}">
              <i class="nav-icon far fa-circle text-info {% if 'products' in request.path %} fa-circle-notch {%endif%}"></i>
              <p>Products</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/profile/attributes/replacement/" class="nav-link {% if 'attributes' in request.path %} active {%endif%}" >
              <i class="nav-icon far fa-circle text-info {% if 'attributes' in request.path %}  fa-circle-notch {%endif%}"></i>
              <p>Replacements</p>
            </a>
          </li>


        </ul>
      </nav>